body {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main {
  height: 70px;
  width: 150px;
  background-color: #724e91;
  border-radius: 50px;
  position: relative;
  box-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.light {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 6px;
  cursor: pointer;
}

.dark {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 6px;
  cursor: pointer;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  box-shadow: 1px 1px 5px #fff;
}

#light {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 29px;
}

#dark {
  position: absolute;
  top: 10px;
  right: 9px;
  font-size: 26px;
  color: white;
  z-index: 1;
}

.circle,
#light,
#dark {
  cursor: pointer;
}
